@model RezervasyonEkleViewModel

@{
    ViewData["Title"] = "Rezervasyon Oluştur";
    Layout = "_Layout";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Rezervasyon Oluştur</h4>
                </div>
                <div class="card-body">
                    <form asp-controller="Rezervasyon" asp-action="Create" method="post" novalidate>
                        <div class="form-group">
                            <label asp-for="TeslimTarih">Teslim Tarihi ve Saati</label>
                            <input asp-for="TeslimTarih" class="form-control" type="datetime-local" />
                        </div>
                        <div class="form-group">
                            <label asp-for="IadeTarih">İade Tarihi ve Saati</label>
                            <input asp-for="IadeTarih" class="form-control" type="datetime-local" />
                        </div>
                        <div class="form-group">
                            <label asp-for="TeslimYeriId">Teslim Yeri</label>
                            <select asp-for="TeslimYeriId" asp-items="@Model.TeslimYeriSecenekleri" id="TeslimYeri" class="form-control">
                                <option value="">Lütfen bir teslim yeri seçiniz</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="IadeYeriId">İade Yeri</label>
                            <select asp-for="IadeYeriId" asp-items="@Model.IadeYeriSecenekleri" class="form-control">
                                <option value="">Lütfen bir iade yeri seçiniz</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="AracId">Araç Seçimi</label>
                            <select asp-for="AracId" id="AracId" class="form-control">
                                <option value="@Model.AracId">@Model.Arac?.Marka @Model.Arac?.AracModel</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Sigorta">
                                <input asp-for="Sigorta" type="checkbox" id="Sigorta" /> Sigorta
                            </label>
                        </div>

                        <!-- Kiralama Ücreti -->
                        <div class="form-group">
                            <label>Kiralama Ücreti</label>
                            <input id="KiralamaUcreti" class="form-control" type="text" readonly value="0,00 TL" />
                        </div>

                        <!-- Sigorta Ücreti -->
                        <div class="form-group">
                            <label>Sigorta Ücreti</label>
                            <input id="SigortaUcreti" class="form-control" type="text" readonly value="0,00 TL" />
                        </div>

                        <!-- Toplam Ücret -->
                        <div class="form-group">
                            <label>Toplam Ücret</label>
                            <input id="ToplamUcret" class="form-control" type="text" readonly value="0,00 TL" />
                        </div>

                        <button type="submit" class="btn btn-primary">Rezervasyon Yap</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/Home.Index.js"></script>
<script>
    $(document).ready(function () {
        // Local storage'dan tarih bilgilerini al
        var teslimTarihi = localStorage.getItem('teslimTarihi');
        var iadeTarihi = localStorage.getItem('iadeTarihi');

        // Eğer tarih bilgileri varsa form alanlarına yerleştir
        if (teslimTarihi) {
            $('#TeslimTarih').val(teslimTarihi);
        }
        if (iadeTarihi) {
            $('#IadeTarih').val(iadeTarihi);
        }

        // Rezervasyon formu gönderildiğinde local storage'dan tarih bilgilerini sil
        $('form').on('submit', function () {
            localStorage.removeItem('teslimTarihi');
            localStorage.removeItem('iadeTarihi');
        });

        $('#TeslimYeri').change(function () {
            var teslimYeriId = $(this).val();
            var teslimTarihi = $('#TeslimTarih').val();
            var iadeTarihi = $('#IadeTarih').val();
            if (teslimTarihi && iadeTarihi && teslimYeriId) {
                $.ajax({
                    url: '@Url.Action("GetAvailableCars", "Rezervasyon")',
                    type: 'GET',
                    data: { teslimTarihi: teslimTarihi, iadeTarihi: iadeTarihi, teslimYeriId: teslimYeriId },
                    success: function (data) {
                        $('#AracId').empty().append('<option value="">Lütfen bir araç seçiniz</option>');
                        $.each(data, function (i, item) {
                            $('#AracId').append($('<option>', {
                                value: item.value,
                                text: item.text
                            }));
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error("Bir hata oluştu: " + error);
                        $('#AracId').empty().append('<option value="">Araç yüklenemedi</option>');
                    }
                });
            }
        });

        function calculatePrices() {
            var teslimYeriId = $('#TeslimYeri').val();
            var teslimTarihi = $('#TeslimTarih').val();
            var iadeTarihi = $('#IadeTarih').val();
            var aracId = $('#AracId').val();
            var sigorta = $('#Sigorta').is(':checked');

            if (teslimTarihi && iadeTarihi && aracId) {
                $.ajax({
                    url: '@Url.Action("CalculatePrice", "Rezervasyon")',
                    type: 'GET',
                    data: { teslimTarihi: teslimTarihi, iadeTarihi: iadeTarihi, aracId: aracId, sigorta: sigorta },
                    success: function (data) {
                        $('#KiralamaUcreti').val(data.kiralamaUcreti);
                        $('#SigortaUcreti').val(data.sigortaUcreti);
                        $('#ToplamUcret').val(data.toplamUcret);
                    },
                    error: function (xhr, status, error) {
                        console.error("Bir hata oluştu: " + error);
                        $('#KiralamaUcreti').val("₺0,00");
                        $('#SigortaUcreti').val("₺0,00");
                        $('#ToplamUcret').val("₺0,00");
                    }
                });
            }
        }

        $('#TeslimTarih, #IadeTarih, #AracId, #Sigorta').change(calculatePrices);

        // Initial load to calculate prices
        calculatePrices();
    });
</script>
