@using System.Security.Claims
@model AracViewModel

@{
    ViewData["Title"] = "Araçlar";
    Layout = "_Layout";
}

<div class="container mt-5 araclar-container">
    <div class="row mb-3" style="position: fixed; z-index:1;">
        <form class="form-inline mx-3">
            <div class="form-group">
                <select name="kategori" id="kategori" class="form-control mr-2">
                    <option value="Tüm Araçlar">Tüm Araçlar</option>
                    <option value="Ekonomik">Ekonomik Araçlar</option>
                    <option value="Lüks">Lüks Araçlar</option>
                    <option value="Premium">Premium Araçlar</option>
                </select>
            </div>
        </form>
    </div>

    <div id="aracListContainer" class="row araclar-row" style="padding-top: 60px;">
        @foreach (var arac in Model.Araclar)
        {
            <div class="col-md-3 mb-3 araclar-col-md-3">
                <div class="card araclar-card">
                    <img class="card-img-top araclar-card-img-top" src="@Url.Content($"~/img/{arac.Resim}")" alt="Araç Resmi">
                    <div class="card-body araclar-card-body">
                        <h5 class="card-title">@arac.Marka @arac.AracModel</h5>
                        <p class="card-text"><strong>Motor:</strong> @arac.Motor</p>
                        <p class="card-text"><strong>Vites:</strong> @arac.Vites</p>
                        <p class="card-text"><strong>Koltuk:</strong> @arac.Koltuk</p>
                        <p class="card-text"><strong>Renk:</strong> @arac.Renk</p>
                        <p class="card-text"><strong>Kilometre:</strong> @arac.Km</p>
                        <p class="card-text"><strong>Şehir:</strong> @arac.Sehir?.IlAdi, @arac.Sehir?.IlceAdi</p>
                        <p class="card-text"><strong>Kategori:</strong> @arac.Kategori?.KategoriAdi</p>
                        <div class="actions">
                            <a asp-controller="Rezervasyon" asp-action="Create" asp-route-id="@arac.AracId" class="btn btn-sm btn-rezervasyon" style="background-color:#f09721; border: none; color: white; border-radius: 5px">Şimdi Rezervasyon Yap</a>
                            <small class="text-muted">@arac.AracFiyat ₺/gün</small>
                        </div>
                        @if (User.IsInRole("admin"))
                        {
                            <div class="btn-group mt-2" role="group" aria-label="Basic example">
                                <a asp-controller="Arac" asp-action="Edit" asp-route-id="@arac.AracId" type="button" class="btn btn-sm btn-outline-primary">Düzenle</a>
                                <a asp-controller="Arac" asp-action="Delete" asp-route-id="@arac.AracId" type="button" class="btn btn-sm btn-outline-danger">Sil</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        @if (User.IsInRole("admin"))
        {
            <div class="col-md-3 mb-3 araclar-col-md-3">
                <div class="card araclar-card-placeholder">
                    <a asp-controller="Arac" asp-action="Create" class="text-center" style="text-decoration: none; color: #007bff;">
                        <i class="fa fa-plus fa-3x"></i>
                        <p style="font-size: 18px; margin-top: 10px;">Yeni Araç Ekle</p>
                    </a>
                </div>
            </div>
        }
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/Home.Index.js"></script>
<script>
    $(document).ready(function () {
        var selectedKategori = "@ViewBag.SelectedKategori";
        $('#kategori option').each(function () {
            if ($(this).val() === selectedKategori) {
                $(this).attr('selected', 'selected');
            }
        });

        $('#kategori').change(function () {
            $.ajax({
                url: '@Url.Action("GetFilteredCarsJson", "Arac")',
                type: 'GET',
                data: { kategori: $('#kategori').val() },
                success: function (result) {
                    var container = $('#aracListContainer');
                    container.empty();

                    $.each(result, function (index, arac) {
                        var card = `
                                    <div class="col-md-3 mb-3 araclar-col-md-3">
                                        <div class="card araclar-card">
                                            <img class="card-img-top araclar-card-img-top" src="/img/${arac.resim}" alt="Araç Resmi">
                                            <div class="card-body araclar-card-body">
                                                <h5 class="card-title">${arac.marka} ${arac.aracModel}</h5>
                                                <p class="card-text"><strong>Motor:</strong> ${arac.motor}</p>
                                                <p class="card-text"><strong>Vites:</strong> ${arac.vites}</p>
                                                <p class="card-text"><strong>Koltuk:</strong> ${arac.koltuk}</p>
                                                <p class="card-text"><strong>Renk:</strong> ${arac.renk}</p>
                                                <p class="card-text"><strong>Kilometre:</strong> ${arac.km}</p>
                                                <p class="card-text"><strong>Şehir:</strong> ${arac.sehir}</p>
                                                <p class="card-text"><strong>Kategori:</strong> ${arac.kategori}</p>
                                                <div class="actions">
                                                    <a href="/Rezervasyon/Create/${arac.aracId}" class="btn btn-sm btn-rezervasyon" style="background-color:#f09721; border: none; color: white; border-radius: 5px">Şimdi Rezervasyon Yap</a>
                                                    <small class="text-muted">${arac.aracFiyat} ₺/gün</small>
                                                </div>
    @if (User.IsInRole("admin"))
    {
                                                        <div class="btn-group mt-2" role="group" aria-label="Basic example">
                                                            <a href="/Arac/Edit/${arac.aracId}" class="btn btn-sm btn-outline-primary">Düzenle</a>
                                                            <a href="/Arac/Delete/${arac.aracId}" class="btn btn-sm btn-outline-danger">Sil</a>
                                                        </div>
    }
                                            </div>
                                        </div>
                                    </div>
                                `;
                        container.append(card);
                    });
                },
                error: function (xhr, status, error) {
                    console.error("Bir hata oluştu: " + error);
                }
            });
        });
    });
</script>
